<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>belajar menghitung</title>
</head>
<body>
    <h1>maaf tdk sy designkan apa2 utk ini krn sy capek</h1><h2>- yg buat 2020</h2>
    <h2>nomor urut 1 : {{satu}}<br>
    nomor urut 2 : {{dua}}<br>
    nomor urut 3 : {{tiga}}<br>
    nomor urut 4 : {{empat}}<br>
    nomor urut 5 : {{lima}}</h2>
<br><br><br>
    <h1>yang sudah nyoblos</h1>
    <h2>yg belum cari aj sendiri y</h2>
    <ul>
        {% for sdh in sdhs%}
        <li>{{sdh}}</li>
        {% endfor %}
    </ul>
</body>
</html>