<!-- made with heart @auckyaisy, 2020 -->
{% load static %}
<html  >
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link reel="icon" type="image/png" sizes="192x192" href="{% static 'favicon/android-icon-192x192.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicon/favicon-96x96.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
  <meta name="description" content="">
  
  
  <title>Kenali Pemimpinmu</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  
  <link rel="stylesheet" href="{% static 'assets/theme/css/style.css' %}">
  <link rel="preload" as="style" href="{% static 'assets/mobirise/css/mbr-additional.css' %}">
  <link rel="stylesheet" href="{% static 'assets/mobirise/css/mbr-additional.css' %}" type="text/css">
  
  
</head>
<body>
  
  <section class="header1 cid-s48MCQYojq mbr-fullscreen mbr-parallax-background" id="header1-f">
    <nav class="navbar fixed-top " style="background-color: rgba(53, 53, 53,0);">
        <a class="navbar-brand mx-auto"><img style="width: 50px;" src="{% static 'logo.png' %}"></a>
    </nav>
    

    <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(53, 53, 53);"></div>

    <div class="align-center container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-12">
                
                
                
                
            </div>
        </div>
    </div>
</section>

<section class="header14 cid-seXMJ9RfOT mbr-fullscreen" id="header14-t">

    

    

    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-md-6 image-wrapper">
                <img src="{%static 'assets/images/sultan-433x577.png'%}" style="filter: brightness(200%);" alt="">
            </div>
            <div class="col-12 col-md">
                <div class="text-wrapper">
                    <h1 class="mbr-section-title mbr-fonts-style mb-3 display-1"><strong>Sultan Abigail Alexander</strong></h1>
                    <p class="mbr-text mbr-fonts-style display-5">
                        XI MIPA 2</p>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section class="video2 cid-sf9yb5PLwZ" id="video2-21">
    
    <div class="container-fluid">
        
        <div class="row justify-content-center mt-4">
            <div class="col-12 col-md-10 video-block">
                <div class="video-wrapper"><iframe class="mbr-embedded-video" src="https://streamable.com/e/mu18b8?loop=1&amp;autoplay=1&amp;mute=1" width="1280" height="720" frameborder="0" allowfullscreen></iframe></div>
                
            </div>
        </div>
    </div>
</section>

<section class="content1 cid-s48udlf8KU" id="content1-8">
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-12 col-md-9">
                <h3 class="mbr-section-title mbr-fonts-style align-center mb-4 display-1"><strong>Visi</strong></h3>
                <h4 class="mbr-section-subtitle align-center mbr-fonts-style mb-4 display-5">Terciptanya lingkungan OSIS V yang kondusif untuk mengembangkan jiwa kepemimpinan yang mendorong prestasi, kreasi, dan kebebasan berekspresi dengan berlandaskan Ketuhanan Yang Maha Esa.</h4>
                
            </div>
        </div>
    </div>
</section>

<section class="content1 cid-s48vaXqeL6" id="content1-b">
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-12 col-md-9">
                <h3 class="mbr-section-title mbr-fonts-style align-center mb-4 display-1"><strong>Misi</strong></h3>
                <h4 class="mbr-section-subtitle align-center mbr-fonts-style mb-4 display-5">1. Meningkatkan keimanan dan ketakwaan Smalane kepada Tuhan Yang Maha Esa.<br>2. Menciptakan wadah bagi Smalane dalam berproses yang sesuai dengan adanya perkembangan zaman.<br>3. Menjalin hubungan dan komunikasi dua arah dengan Smalane<br>4. Membangun kinerja OSIS V yang profesional dan peduli.</h4>
                
            </div>
        </div>
    </div>
</section>

<section class="content11 cid-seYEmJ3hmI" id="content11-1v">
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="mbr-section-btn align-center"><a class="btn btn-black display-4" href="/visi/1/">Lanjut<br></a></div>
            </div>
        </div>
    </div>
</section>
<script src="{% static 'assets/web/assets/jquery/jquery.min.js' %}"></script>
<script src="{% static 'assets/popper/popper.min.js' %}"></script>
<script src="{% static 'assets/tether/tether.min.js' %}"></script>
<script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/smoothscroll/smooth-scroll.js' %}"></script>
<script src="{% static 'assets/parallax/jarallax.min.js' %}"></script>
<script src="{% static 'assets/theme/js/script.js' %}"></script>
  
<style>

body { 
  animation: fadeInAnimation ease 3s; 
  animation-iteration-count: 1; 
  animation-fill-mode: forwards; 
  background-color: #000;
} 
@keyframes fadeInAnimation { 
  0% { 
      opacity: 0; 
  } 
  100% { 
      opacity: 1; 
  } 
} 
</style>
</body>
</html>