{% extends "pemilu/layout.html" %}


{% block title %}
    Para Penentu
{% endblock %}

{% block main %}
<div class="pilihan"><br><br><br>
  <form class="form-group" method="post">
    <select class="form-control" name="kelas" id="kelas" style="">
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
    </select>
    <br>
    <select class="form-control" name="pararel" id="pararel">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>
    <br>
    <button type="submit" class="btn btn-primary mb-2">Lihat</button>
  </form>
</div>
{% endblock %}
