<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KPU V belajar menghitung</title>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" /> <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"> </script> <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
</head>
<body>
    <style>
        body{
            background-color: black;
            color: white;
        }
    </style>
    <h1>Rekapitulasi Hasil</h1>
    <table>
        <thead>
            <tr>
                <th>Pilihan</th>
                <th>Token</th>
            </tr>
        </thead>
    </table>
    <script>
        $(document).ready(function()){
            setInterval(function()
            {
        $.ajax({
            type: 'GET',
            url: "{% url 'getUsers' %}",
            success: function(response){
                console.log(response);
            },
            error: function(response){
                alert("No DATA FOUND");
            }
        });
            },1000);
        }
    </script>
</body>
</html>