<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Terima kasih</title>
  <link href="https://fonts.googleapis.com/css?family=Bellefair" rel="stylesheet"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="static/sesudah/style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<main role="main" class="main-content" id="main-content">
    <div class="titleCont">
      <h1 class="main-title" id="main-title">
        "Suatu kontribusi terkecil<br><span style="padding-left:100px">yang telah dilakukan</span><br><span style="padding-right:110px">berisi akan harapan</span><br><span style="padding-left:-20px">tentang masa depan."</span>
    </div>
    <canvas id="noise" class="noise"></canvas>
  <div class="vignette"></div>
  <embed src="static/music.mp3" loop="true" autostart="true" width="0"
         height="0">
</main>
<!-- partial -->

  <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js'></script>
<script src='static/sesudah/noise.js'></script>
<script src='static/sesudah/water.js'></script>
<script  src="static/sesudah/script.js"></script>

</body>
</html>
