{% extends "pemilu/layout.html" %}


{% block title %}
    PEMILU
{% endblock %}

{% block main %}
<br><br><br><br>
    <input type="text" class="calc-screen" value="Pilih Calonmu" disabled/>
    <form  action="" method="post">
      <div class="voteform">
        <button type="button" name="button" class="number vote1" value="Royyan Pranowo">1</button>
        <button type="button" name="button" value="Aping Rifan" class="number vote2">2</button>
        <button type="button" name="button" value="Wildan Dunnud" class="number vote3">3</button>
        <button type="button" name="button" value="Dhiaz Hartek" class="number vote4">4</button>
        <button type="button" name="button" value="Abdan Panda" class="number vote5">5</button>
      </div>
      <br>
      <button type="submit" id="dropdown" class="btn btn-primary mb-2">Pilih</button>
    </form>

    <style>
      main, body {
        background-color: #071f27;
      }
      .btn {
        width: 100%;
      }
      .voteform {
        display: flex;
          flex-direction: column;
      }
      .number {
        width: 250px;
        height: 250px;
        background-color: #rgba(7, 31, 39, 50%);
          border: none;
        color: rgba(255, 255, 255, 50%);
        font-size: 600%;
        font-weight: bold;
        font-family: montserrat;
      }
      .number:focus {
        background-color: white;
      }
      .calc-screen{
        width: 100%;
        height: 100px;
        background-color: #071f27;
        color: white;
        text-align: center;
        font-size: 36px;
        border: solid 3px #071f27;
        padding: 0 20px;
        box-sizing: border-box;
        font-weight: bold;
        font-family: Montserrat;
      }

      .vote2 {
        width: 250px;
        height: 250px;
        background-image: url(static/images/image0.jpg);
        background-repeat: no-repeat;
        background-size: 250px;
        background-position: center;
      }
      .vote1 {
        width: 250px;
        height: 250px;
        background-image: url(static/images/image3.jpg);
        background-repeat: no-repeat;
        background-size: 250px;
        background-position: center;
      }
      .vote3 {
        width: 250px;
        height: 250px;
        background-image: url(static/images/image4.jpg);
        background-repeat: no-repeat;
        background-size: 250px;

      }
      .vote4 {
        width: 250px;
        height: 250px;
        background-image: url(static/images/image5.png);
        background-repeat: no-repeat;
        background-size: 250px;
        background-position: center;
      }
      .vote5 {
        width: 250px;
        height: 250px;
        background-image: url(static/images/image2.jpg);
        background-repeat: no-repeat;
        background-size: 250px;
        background-position: left;
      }
      #dropdown {
        color:white;
        font-size: 150%;
      }
      @media only screen and (min-width: 600px) {
        .voteform{
          flex-direction: row;
        }
      }
    </style>

    <script type="text/javascript">

      let currNumber = 'Pilih Calonmu';

      const calcScreen = document.querySelector(".calc-screen");

      const updateScreen = (number) => {
          calcScreen.value = number;
      }

      const numbers = document.querySelectorAll(".number");

      numbers.forEach(number => {
          number.addEventListener('click', (e) => {
              inputNumber(e.target.value);
              updateScreen(currNumber);
          });
      });

      const inputNumber = (number) => {
          currNumber = number
      }

    </script>
{% endblock %}
